<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Your coupon to <%= @brand_name %> ($<%= sprintf('%.2f' % @payable_total) %>)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family: Avenir Next; font-weight: 300;">
  <tr>
   <td>
     <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
       <tr>
         <td align="center" bgcolor="#86C9D4" style="padding: 15px 0 12px 0;">
          <img src="https://s3-us-west-2.amazonaws.com/gramercy-app-prod/email-images/g-logo-off-white-m.png" alt="Gramercy" width="250" height="auto" style="display: block;" />
         </td>
       </tr>
       <tr>
         <td bgcolor="#DBDBDB" style="padding: 40px 30px 40px 30px;">
           <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FEFEFE" color="#777777" style= "border: solid 1px #979797; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;">
            <tr>
             <td bgcolor="#F4F4F4" style="padding: 15px; border-bottom: solid 1px #979797; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; text-align: center;">Your coupon to <%= @brand_name %>
             </td>
            </tr>
            <tr>
             <td style="padding: 20px 30px 10px 30px;" align="center">
                <%= @brand_name %> has sent you a coupon for $<%= sprintf('%.2f' % @payable_total) %>!
             </td>
           </tr>
           <tr>
             <td style="padding: 10px 30px 10px 30px;" align="center">
                <a href="<%= @ig_link %>" target="_blank"><img src="<%= @ig_image %>" alt="Instagram Picture" width="360" height="auto" style="display: block;" /></a>
             </td>
           </tr>
           <tr>
             <td style="padding: 10px 30px 15px 30px;">
                Here's the breakdown:
                <br><br>
                <%= @likes %> likes at <%= @cpl %>¢ per like = $<%= sprintf('%.2f' % (@likes*@cpl/100.0)) %>
                <br>
                <%= @followers_generated %> new followers at $<%= sprintf('%.2f' % @dpf) %> per follower = $<%= sprintf('%.2f' % (@followers_generated*@dpf)) %>
                <br><br>
                <strong>Total Store Credit = $<%= sprintf('%.2f' % @payable_total) %></strong>
                <br><br>
                You hit <%= @brand_name %>'s max coupon amount of $<%= sprintf('%.2f' % @payable_total)%>! In the future, Gramercy will be creating a program that will enable some influential Instagrammers to get part of their coupon in cash. Since you are obviously influential, we will make sure to reach out to you about how you think that program should work. For now though, happy shopping!
                <br><br><br><br>
                Coupon code:
                <br>
                <%= @code %>
                <br><br><br><br>
                <%= @brand_name %> appreciates your support!
             </td>
           </tr>
           </table>
         </td>
       </tr>
       <tr>
         <td bgcolor="#86C9D4" style="padding: 10px 15px 10px 15px;">
           <table border="0" cellpadding="0" cellspacing="0" width="100%">
             <td width="75%" style="font-size: 12px;">
              <%= link_to "Privacy Policy", "http://www.gramercyapp.com/privacy_policy", style: "color: #DBDBDB!important;" %> |
              <%= link_to "Terms of Service", "http://www.gramercyapp.com/terms_of_service", style: "color: #DBDBDB;" %>
             </td>
             <td align="right">
              <table border="0" cellpadding="0" cellspacing="0">
               <tr>
                <td style="padding:0 0 0 10px;">
                 <a href="http://www.instagram.com/gramercy">
                  <img src="https://s3-us-west-2.amazonaws.com/gramercy-app-prod/email-images/instagram-email-icon.png" alt="Instagram" width="24" height="auto" style="display: block;" border="0" />
                 </a>
                </td>
                <td style="padding: 0 0 0 10px;">
                 <a href="http://www.twitter.com/gramercyapp">
                  <img src="https://s3-us-west-2.amazonaws.com/gramercy-app-prod/email-images/twitter-email-icon.png" alt="Twitter" width="24" height="auto" style="display: block;" border="0" />
                 </a>
                </td>
               </tr>
              </table>
             </td>
           </table>
         </td>
       </tr>
     </table>
   </td>
  </tr>
 </table>
</body>
</html>