<div class = "container devise-box">
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-signin log-in well" }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <h2 class="text-center gramercy-color">Change your password</h2>
    <br>
    <%= f.input :password, label: false, required: true, autofocus: true, placeholder: "New password" %>
    <br>
    <%= f.input :password_confirmation, label: false, required: true, placeholder: "Confirm your new password" %>
    <br>
    <%= f.button :submit, "Change my password" %>
    <br>
    <%= render "devise/shared/links" %>

<% end %>
</div>


