<div class="container devise-box">

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "form-signin log-in well", method: :post }) do |f| %>
  <%= f.error_notification %>
  	<h2 class="text-center gramercy-color">Forgot your password?</h2>
  	<br>
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email" %>
    <br>
    <%= f.button :submit, "Send me reset password instructions", class: "btn btn-block btn-primary gramercy-bg-color" %>
  	<br>
  	<%= render "devise/shared/links" %>
<% end %>

</div>