
<%= stylesheet_link_tag "platforms", media: "all", "data-turbolinks-track" => true %>

<div class="platforms_page">
	<div class="divider-top"></div>

	<section class="title-section">
		<div class="text-area">
			<h1>Ecommerce Platforms</h1>
			<h3>quick and seamless integration</h3>
		</div>
	</section>

	<div class="divider-dark"></div>

		<section class="available-section">
			<div class="text-area">
				<h2>Gramercy will launch here first:</h2>
				<div class="row" >
					<%= link_to "https://www.bigcommerce.com/apps" do %>
					<%= image_tag "bigcommerce-logo.png", class: "launch-first" %>
					<% end %>
				</div>

			</div>
		</section>

		<div class="divider"></div>

		<section class="future-section">
			<div class="text-area">
				<h2>Gramercy will be coming to these ecommerce platforms' app stores in the future:</h2>
				<br>
				<div class="row future">
					<%= image_tag "shopify-long.png" %>
					<%= image_tag "etsy-long.png" %>
				</div>
				<div class="row future">
					<%= image_tag "demandware-long.png" %>
					<%= image_tag "prestashop-logo.png" %>
					<%= image_tag "woocommerce-long.png" %>
				</div>
				<div class="row future">
					<%= image_tag "volusion-long.png", style: "margin-right: 85px;" %>
					<%= image_tag "magento-long.png" %>
				</div>


			</div>
		</section>

		<div class="divider"></div>

		<section class="custom-section">
			<div class="text-area">
				<h3>Gramercy will offer custom integration with your online storefront</h3>
				<p class="text-center">Have a custom built website and/or check out page? We can do that. Contact us directly for details.</p>
				<p class="text-center"><%= link_to "<i class='fa fa-envelope fa-3x'></i>".html_safe, "mailto:brenner@GramercyApp.com" %></p>

			</div>
		</section>



	<div class="divider-dark"></div>


	<section class="sign-up-section">

		<div class="text-area">
			<h4> Get notified when Gramercy goes live: </h4>
			<%= render '/leads/form', submit_text: 'Sign up »' %>
		</div>

	</section>

	<div class="divider-light"></div>


</div>