<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- MetisMenu CSS -->
    <!-- <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet"> -->

    <!-- Timeline CSS -->
    <!-- <link href="../dist/css/timeline.css" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <!-- <link href="../dist/css/sb-admin-2.css" rel="stylesheet"> -->

    <!-- Morris Charts CSS -->
    <!-- <link href="../bower_components/morrisjs/morris.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <!-- <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- <link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"> -->

</head>


<body>
    <%= stylesheet_link_tag "dashboard_test", media: "all", "data-turbolinks-track" => true %>

    <div class="dashboard-page">

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header text-center"><%=  %>Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-sm-6">
                    <% @posts.each do |post| %>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-8 bigger">
                                        <%= post.shopper.name %> (<%= link_to post.shopper.nickname, post.link %>)
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="pull-right smaller time-left">Time left: <%= distance_of_time_in_words(post.created_at + 3.days, Time.now)%></div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-8 give">
                                        <%= image_tag post.image, width: "100%" %><br>
                                        <%= post.caption %>
                                    </div>
                                    <div class="col-sm-4 take">
                                        <div class="bigger">
                                            <strong>Likes: <%= post.likes %></strong> <br><br>
                                            New followers:
                                            <%post.followers_generated.each do |f|%>
                                            <%= link_to @followers.find(f).username, "https://instagram.com/#{@followers.find(f).username}", target: '_blank' %>
                                            <% end %>
                                        </div>
                                        <div style="position: absolute; bottom: 0;">
                                            Location <br>
                                            Order Total
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="panel-footer smaller">
                                <div class="row">
                                    <div class="col-sm-6">
                                        Rate: <%= post.order.cents_per_like %>¢/like & $<%= sprintf('%.2f' % post.order.dollars_per_follow) %>/follow
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="pull-right"><%= local_time(post.created_at, "Posted on %a, %b %d at %I:%M %p") %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>  


        </div>
    </div>

    <script type="text/javascript">
    $( document ).ready(function() {
    var heights = $(".give").map(function() {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, heights);

    $(".take").height(maxHeight);

    });
    window.onresize=function() {
    var heights = $(".give").map(function() {return $(this).height();}).get(),

    maxHeight = Math.max.apply(null, heights);

    $(".take").height(maxHeight);

    };
    </script>
</body>