<footer class="footer">
	<ul class="footer-right">
		<li class="pull-right fa-stack"><%= link_to "<i class='fa fa-circle-thin fa-stack-2x'></i><i class='fa fa-envelope fa-stack-1x'></i>".html_safe, "mailto:admin@GramercyApp.com" %></li>
		<li class="pull-right fa-stack"><%= link_to "<i class='fa fa-circle-thin fa-stack-2x'></i><i class='fa fa-twitter fa-stack-1x'></i>".html_safe, "http://www.twitter.com/GramercyApp" %></li>
		<li class="pull-right fa-stack"><%= link_to "<i class='fa fa-circle-thin fa-stack-2x'></i><i class='fa fa-instagram fa-stack-1x'></i>".html_safe, "http://www.instagram.com/GramercyApp" %></li>
	</ul>
	<ul class="footer-left">
		<li><%= link_to "Privacy Policy", privacy_policy_path %></li>
		<li>|</li>
		<li><%= link_to "Terms and Conditions", terms_and_conditions_path %></li>

	</ul>
</footer>